.ourstory-container {
    padding: 25px;
    background-color: white;
    font-family: var(--font-heb);
}

.ourstory-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border-radius: 10px;
}

.ourstory-images {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.ourstory-images>img {
    width: 25%;
    margin: 10px;
}

.ourstory-text {
    flex-grow: 1;
    margin: 10px 0;
}

.ourstory-text>h1 {
    font-size: 5.2em;
    justify-content: center;
    display: flex;
    margin: 0;
}

.ourstory-text>h3 {
    font-size: 2.2em;
    text-align: center;
    color: #A4984C;
    margin: 0;
}

.ourstory-text>p {
    max-width: 700px;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
}

.img-ourstory {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 30px;
}

.ourstory-images>img:hover {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.97);
}

.ourstory-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    .ourstory-card {
        flex-direction: column;
        justify-content: center;
    }

    .ourstory-images {
        justify-content: space-between;
    }

    .ourstory-text {
        flex-grow: 1;
    }

    .ourstory-text>p {
        width: unset;
    }

}


@media screen and (max-width: 590px) {
    .ourstory-images {
        padding-top: 80px;
    }

    .ourstory-text {
        text-align: center;
    }
}