.big-bg {
    position: absolute;
    top: -1px;
    z-index: -1;
    width: 100%;
    max-height: 80%;
    filter: brightness(0.7) blur(1.4px);
    object-fit: cover;
}

.cutlery-logo {
    filter: invert(1);
    margin: 40px;
}

.logo-title {
    display: grid;
    place-items: center;
    margin-top: 200px;
    color: white;
    height: 36em;
}

.logo-text {
    text-align: center;
}

.logo-title>.logo-text>h4 {
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.190em;
}

.logo-title>.logo-text>h1 {
    font-family: var(--font-heb);
    font-size: 4.5em;
    letter-spacing: 0.180em;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

.footer-wrapper {
    background-color: #A4984C;
    height: 350px;
    width: 101%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

}

.footer-content {
    color: white;
    display: flex;
    flex-wrap: wrap;

}

.footer {
    background-color: #0D0D0E;
    opacity: 90%;
}

@media screen and (max-width: 1921px) and (min-width: 1026px)  {
    .logo-title {
        margin-top: 0;
        height: 40em;
    }

    .logo-title>.logo-text>h4 {
        font-size: 1.5em;
    }

    .logo-title>.logo-text>h1 {
        font-size: 2.5em;
    }


    .cutlery-logo {
        width: 20%;
        margin: 0;
    }

}

@media screen and (max-width: 1025px) {
    .logo-title {
        margin-top: 0;
        height: 19em;
    }

    .logo-title>.logo-text>h4 {
        font-size: 1.5em;
    }

    .logo-title>.logo-text>h1 {
        font-size: 2.5em;
    }

    .cutlery-logo {
        width: 20%;
        margin: 0;
    }
}