.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.navbar-container>.logo {
    min-width: 200px;
    max-width: 250px;
}


.actions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions-wrapper > span::before {
    content: '-';
    color: white;
    margin: 0 10px;
}

@media screen and (max-width: 1025px) {
    .actions-wrapper {
        display: none;
    }

    .navbar-container {
        justify-content: center;
    }
}
