.menus-container {
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: var(--font-heb);
    position: relative;
}

.Menu-title>h1 {
    justify-content: center;
    display: flex;
    font-size: 4.0em;
    margin-bottom: 20px;
}

.Menu-title>h4 {
    color: #A4984C;
    font-size: 2.0em;
}

.menu-item-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item {
    width: 50%;
    margin-bottom: 20px;
}

.selected-menu {
    position: relative;
    width: 65%;
    margin: auto;
}

@media screen and (max-width: 1025px) {
    .menu-item-container {
        justify-content: center;
    }

    .menu-item {
        width: 80%;
    }

}

@media screen and (max-width: 725px) {
    .selected-menu {
        width: 90%;
    }
}