.main-footer {
    width: 90%;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: var(--font-heb);
    font-size: 1.2em;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    text-align: right;
    justify-content: space-between;
}

.col {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.col>.list-unstyled {
    margin: 0 !important;
    padding: 0;
}

.row ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.col>h4 {
    text-align: center;
    color: var(--color-green);
}


.box-1 {
    display: flex;
    flex-grow: 1;
}

.box-1>* {
    flex-grow: 1;
}

li>img {
    padding: 10px;
    filter: invert(1);
    cursor: pointer;
}

.footer-img {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1025px) {
    .row {
        flex-direction: column;
    }

    .box-1 {
        flex-direction: column;
        display: flex;
    }

    .box-1>.col,
    .box-1>.col>ul {
        justify-content: center;
        text-align: center;
    }

    .box-2 {
        align-items: center;
        margin-top: 30px;
    }

    .footer-img {
        width: 40%;
        margin: auto;
        margin-top: 50px;
    }
}