:root {
    --color-green: #A4984C;
    --color-black: #212121;
    --font-text: 'Aref Ruqaa Ink', serif;
    --font-heb: 'Rubik', sans-serif;
}

body {
    font-family: var(--font-heb);
}

.app-input {
    position: relative;
    line-height: 26px;
    padding: 2px 15px;
    width: 100%;
    color: white;
    box-sizing: border-box;

    border: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 1px 3px rgba(164, 152, 76, 0.5);
    -webkit-box-shadow: 0px 0px 1px 3px rgba(164, 152, 76, 0.5);
    -webkit-appearance: none;
}

.app-input::placeholder {
    color: white;
    opacity: 0.7;
}

.app-input:hover {
    box-shadow: 0px 0px 1px 3px rgba(164, 152, 76, 0.7);
    -webkit-box-shadow: 0px 0px 1px 3px rgba(164, 152, 76, 0.7);
}

.app-input:focus {
    box-shadow: 0px 0px 1px 2px var(--color-green);
    outline: none;
    transition: all 0.5ms ease-in-out;
}

.app-btn {
    padding: 2px 15px;
    border-radius: 0;
    border: none;
    background-color: rgba(163, 152, 77, 0.6);
    width: 100%;
    padding: 8px;
    box-shadow: 0px 0px 1px 3px rgba(164, 152, 76, 0.8);
    -webkit-box-shadow: 0px 0px 1px 3px rgba(164, 152, 76, 0.8);
    color: white;
}

.app-btn:hover {
    box-shadow: 0px 0px 7px 3px rgba(164, 152, 76, 1);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(164, 152, 76, 1);
    transition: all 0.5ms ease-in-out;
}