.legendery-wrapper {
    position: relative;
}

.legendery-wrapper > svg {

    width: 150px;
    height: 96px;
}

.legendery-wrapper>svg > line {
    stroke: white;
}
.legendery-wrapper > svg > path {
    fill: white !important;
}
