.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}

.menu-content-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.menu-content-price > h4 {
  font-size: 1.6rem;
  color: var(--color-black);
  text-align: right;
}

.menu-content-price> :last-child {
  color: var(--color-green);
  text-align: left;
}

.menu-content-price>.dot {
  flex-grow: 1;
  border-bottom: 1px dashed black;
  margin: 0 5px;
}

.menu-content>.menu-content-desc {
  margin-top: -15px;
  font-size: 1.35rem;
  text-align: right;
}


@media screen and (max-width: 641px) {
  .menu-content>.menu-content-desc {
    font-size: 1em;
  }

  .menu-content-price > h4 {
    font-size: 1.1em;
  }
  
}
